h1{
    font-size:50pt;
    color:blue;    
}
.Zangetsu{
    color: darkturquoise;
}

button{
    font-size:25px;
    color:aqua;
    background-color:blueviolet;
}

p strong{
    font-size:20pt;
}
p{
    font-size:20pt;
}
img{
    height:500px;
    width:500px;
}
.Zabimaru{
    color: brown;
}
.Shirayuki{
    color:darkgray
}
.Habilidades{
    color: darkgreen;
    font-size:20pt;
} 

.Senbonzakura{
    color: palevioletred;
}
    
.Nozarashi{
    color: yellow;
}
.SenpoKenjuu{
    color: palevioletred;
}
.Benihime{
    color:darkred;
}
.Hyourinmaru{
    color: aquamarine;
}
.KatenKyoukotsu{
    color: dimgrey;
}
.SogyonoKotowari{
    color: aquamarine;
}